<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生信息</title>

    <link rel="stylesheet" href="common.css">
</head>

<body>
<!-- 网页头部 -->
<div class="header">
    <a href="http://jw.scut.edu.cn/zhinan/cms/index.do">
    <div class="logo_left"><img src="logo_left.png" alt=""></div>
    </a>
    <div class="logo_right"><img src="logo_right.jpg" alt=""></div>
</div>
<div>`</div>


<div class="w">
    <h1 style="text-align: center;">学生信息</h1>
</div>
    



    <!-- 网页底部 -->
    <div class="footer">
        <div class="img_left">
            <img src="footer_icon_logo.png" alt="">
        </div>
        <span class="line"></span>

        <div class="img_right">
            <img src="code_icon.jpg" alt="">
        <p>华工教务公众号</p>
        </div>
    </div>
    <div class="end">制作者：xxx</div>
</body>

</html>