.w h1{
    width: 900px;
    height: 80px;
    text-align: center;
    border-bottom: 1px solid #000;
}

.left{
    float: left;
    width: 350px;
    height: 520px;
    border-right: 1px solid black;
    margin-left: 110px;
}

.right{
    float: left;
    height: 520px;
    margin-left: 110px;
}
