

.left_content{
    float: left;
    width: 125px;
    height: 600px;
    background-color: #0066D3;
}
.left_content ul li a{
    display: block;
    line-height: 80px;
    width: 125px;
    color: azure;
    font-size: 20px;
    text-indent: 1em;
}
.left_content ul li a:hover{
    background-color: #fff;
    color: #0066D3;
}

.center_text{
    float: left;
    width: 600px;
    height: 600px;
}
.center_text h1{
    text-align: center;
    height: 83.2px;
}
.center_text p{
    text-indent: 2em;
    height: 300px;
}

.right_content{
   float: right;
    width: 175px;
    height: 600px;
    background-color: #0066D3;
}
.right_content h1{
    display: block;
    text-align: center;
    line-height: 80px;
    border-bottom: 1px solid #000;
}
.right_content ul li a{
    display: block;
    line-height: 50px;
    width: 175px;
    color: rgb(250, 250, 250);
    font-size: 20px;
    text-indent: 1em;
}
.right_content ul li a:hover{
    background-color: #fff;
    color: #0066D3;
}