<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>华南理工大学讲座票管理平台</title>

    <link rel="stylesheet" href="beginStyle.css">
    <link rel="stylesheet" href="common.css">
</head>

<body>
    <!-- 网页头部 -->
    <div class="header">
        <a href="http://jw.scut.edu.cn/zhinan/cms/index.do">
            <div class="logo_left"><img src="logo_left.png" alt=""></div>
        </a>
        <div class="logo_right"><img src="logo_right.jpg" alt=""></div>
    </div>
    <!-- 网页主体 -->
    <div>.</div>
 

    <div class="w">
        <div class="left_content">
            <ul>
                <li><a href="student" target="_blank">
                        学生端
                    </a></li>
                <li><a href="dept" target="_blank">
                        部门端
                    </a></li>
                <li><a href="adminer" target="_blank">
                        管理员端
                    </a></li>
            </ul>
        </div>


        <div class="center_text">
            <h1>欢迎使用华南理工大学讲座票管理系统，点击左侧选择你的身份吧！</h1>
            <br>
            <br>
            <br>
            <p>使用规则：</p>
        </div>

        <div class="right_content">
            <h1>最新活动</h1>
            <ul>
                <li><a href="#">one</a></li>
                <li><a href="#">two</a></li>
                <li><a href="#">three</a></li>
                <li><a href="#">four</a></li>
                <li><a href="#">five</a></li>
                <li><a href="#">six</a></li>
                <li><a href="#">seven</a></li>
            </ul>
        </div>

    </div>
    <!-- 网页底部 -->
    <div class="footer">
        <div class="img_left">
            <img src="footer_icon_logo.png" alt="">
        </div>
        <span class="line"></span>

        <div class="img_right">
            <img src="code_icon.jpg" alt="">
            <p>华工教务公众号</p>
        </div>
    </div>
    <div class="end">制作者：何裕明、李炫志、苏坤明、王金凌</div>


</body>

</html>