<!DOCTYPE html>


<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部门端</title>
    
    <link rel="stylesheet" href="common.css">
</head>

<body>
<!-- 网页头部 -->
<div class="header">
    <a href="http://jw.scut.edu.cn/zhinan/cms/index.do">
    <div class="logo_left"><img src="logo_left.png" alt=""></div>
    </a>
    <div class="logo_right"><img src="logo_right.jpg" alt=""></div>
</div>
<div>`</div>


<div class="w">
     <h1  style="display: flex;justify-content: center;">部门端</h1>
     <br>
 
     <form name="form1" action="http://127.0.0.1:5000/dep_regester" method="post">
        <p>注册：</p>
        <br><input type="text" name="departmentName" id="departmentName" placeholder="请在此输入您的部门名称"/>
        <br>
        <input type="submit" value="注册" >
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input type="reset" value="重新填写">
        <script>
            function register(){
               if (window.localStorage) {
                    //存储 部门名字
                   localStorage.departmentName = document.all.departmentName.value;
                   alert("注册成功");
                   //window.open("department.html");
               } else {
                   alert("NOT SUPPORT");
                }
            }
    
       </script>
     </form>
     <br>
     <br> --------------------------------------------------
     <br>
     <form name="form2" action="http://127.0.0.1:5000/dept_login" method="post">
        <b>登陆：</b>
        <br>
        <input type="text" name="dep_publicKey" id="dep_publicKey" placeholder="请在此输入您的公钥"/>
        <br>
        <input type="text" name="dep_privateKey" id="dep_privateKey" placeholder="请在此输入您的私钥"/>
        <br>
        <input type="submit" value="登陆" onclick="login()">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input type="reset" value="重新填写">
        <script>
            function login(){
               if (window.localStorage) {
                   localStorage.dep_publicKey = document.all.dep_publicKey.value;
                   localStorage.dep_privateKey = document.all.dep_privateKey.value;
                   alert("登陆成功");
                   //window.open("department.html");
               } else {
                   alert("NOT SUPPORT");
                }
            }
       </script>
     </form>
</div>



    <!-- 网页底部 -->
    <div class="footer">
        <div class="img_left">
            <img src="footer_icon_logo.png" alt="">
        </div>
        <span class="line"></span>

        <div class="img_right">
            <img src="code_icon.jpg" alt="">
        <p>华工教务公众号</p>
        </div>
    </div>
    <div class="end">制作者：xxx</div>
</body>

</html>