<!DOCTYPE html>


<html lang="cn">

   

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>部门端</title>
    
    <link rel="stylesheet" href="common.css">
</head>

<body>
<!-- 网页头部 -->
<div class="header">
    <a href="http://jw.scut.edu.cn/zhinan/cms/index.do">
    <div class="logo_left"><img src="logo_left.png" alt=""></div>
    </a>
    <div class="logo_right"><img src="logo_right.jpg" alt=""></div>
</div>
<div>`</div>



<div class="w">
     <h1  style="display: flex;justify-content: center;">部门端</h1>
     <br>
   
     <b>讲座票申报:</b> <br> 


 

    <form name="form1" action="http://127.0.0.1:5000/dept_require" method="post">
        <br>   学生部门名称：
        <p id="departmentName"></p>

        <!--br>
        <input type="text" name="departmentName" id="departmentName" placeholder="请在此输入学生部门名称"/>
        <br-->
        
        申报讲座名称：
        <br>
        <input type="text" name="activityName" id="activityName" placeholder="请在此输入活动名称"/><br> 
        讲座时间：
        <br>
        <input type="text" name="activityTime" id="activityTime" placeholder="请在此输入活动时间"/><br> 
        讲座地点：
        <br>
        <input type="text" name="activityPlace" id="activityPlace" placeholder="请在此输入活动地点"/><br> 
        讲座类型：
        <br>
        <input type="text" name="activityType" id="activityType" placeholder="请在此输入活动类型"/><br>
        活动所需讲座票票数量：
        <br>
        <input type="text" name="ticketNumber" id="ticketNumber" placeholder="请在此输入数量"/> 
        <br>
        <br>
        <input type="submit" value="提交项目" onclick="set()">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input type="reset" value="重新填写">

        <script>
            function set(){
                
               if (window.localStorage) {
                    //存储 学生部门、活动名称、时间、地点、类型、讲座票数量 的值
                   //localStorage.departmentName = document.all.departmentName.value;
                   localStorage.activityName = document.all.activityName.value;
                   localStorage.activityTime = document.all.activityTime.value;
                   localStorage.activityPlace = document.all.activityPlace.value;
                   localStorage.activityType = document.all.activityType.value;
                   localStorage.ticketNumber = document.all.ticketNumber.value;
                    //location.href = 'adminer.html';
               } else {
                   alert("NOT SUPPORT");
                }
            }
    
       </script>
    </form>

    <script>
        var value1 = localStorage["departmentName"];
        document.getElementById("departmentName").innerHTML=value1;
    </script>

    <br>
    <br> --------------------------------------------------
    <br>
    <br>
    <b>讲座票分发:</b>  <br> <br>
    <form action="http://127.0.0.1:5000/dep_transfer" method="post">
        讲座票名字：
        <br>
        <input type="text" name="ticketName" placeholder="请在此输入讲座名字">
        <br><br>
        讲座票获得者：
        <br>
        <input type="text" name="studentNumber" placeholder="请在此输入获得者学号">
        <br><br>
        <input type="text" name="publicKey" placeholder="请在此输入公钥">
        <br><br>
        <input type="text" name="privateKey" placeholder="请在此输入私钥">
        <br><br>
        <input type="submit" value="提交">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input type="reset" value="重新填写">
    </form>
</div>
   


    <!-- 网页底部 -->
    <div class="footer">
        <div class="img_left">
            <img src="footer_icon_logo.png" alt="">
        </div>
        <span class="line"></span>

        <div class="img_right">
            <img src="code_icon.jpg" alt="">
        <p>华工教务公众号</p>
        </div>
    </div>
    <div class="end">制作者：何裕明、李炫志、苏坤明、王金凌</div>
</body>

</html>