<!DOCTYPE html>


<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生端</title>
    
    <link rel="stylesheet" href="common.css">
</head>

<body>
<!-- 网页头部 -->
<div class="header">
    <a href="http://jw.scut.edu.cn/zhinan/cms/index.do">
    <div class="logo_left"><img src="logo_left.png" alt=""></div>
    </a>
    <div class="logo_right"><img src="logo_right.jpg" alt=""></div>
</div>
<div>`</div>


<div class="w">
     <h1  style="display: flex;justify-content: center;">学生端</h1>
     <br>
     <form name="form1" action="http://127.0.0.1:5000/stu_regester" method="post">
        <b>注册：</b>
        <br>
        <input type="text" name="studentNumber" id="studentNumber" placeholder="请在此输入您的学号"/>
        <br>
        <input type="submit" value="注册" onclick="register()">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input type="reset" value="重新填写">
        <script>
            function register(){
               if (window.localStorage) {
                    //存储 学生学号
                   localStorage.studentNumber = document.all.studentNumber.value;
                   alert("注册成功");
                   //window.open("student.html");
               } else {
                   alert("NOT SUPPORT");
                }
            }
    
       </script>
     </form>
     <br>
     <br> --------------------------------------------------------------------------------
     <br>
     <form name="form2" action="http://127.0.0.1:5000/stu_login" method="post">
        <b>登陆：</b>
        <br>
        <input type="text" name="stu_publicKey" id="stu_publicKey" placeholder="请在此输入您的公钥"/>
        <br>
        <input type="text" name="stu_privateKey" id="stu_privateKey" placeholder="请在此输入您的私钥"/>
        <br>
        <input type="submit" value="登陆" onclick="login()">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <input type="reset" value="重新填写">
        <script>
            function login(){
               if (window.localStorage) {
                   localStorage.stu_publicKey = document.all.stu_publicKey.value;
                   localStorage.stu_privateKey = document.all.stu_privateKey.value;、
                   alert("登陆成功");
                   //window.open("student.html");
               } else {
                   alert("NOT SUPPORT");
                }
            }
       </script>
     </form>
</div>



    <!-- 网页底部 -->
    <div class="footer">
        <div class="img_left">
            <img src="footer_icon_logo.png" alt="">
        </div>
        <span class="line"></span>

        <div class="img_right">
            <img src="code_icon.jpg" alt="">
        <p>华工教务公众号</p>
        </div>
    </div>
    <div class="end">制作者：何裕明、李炫志、苏坤明、王金凌</div>
</body>

</html>