<!DOCTYPE html>
<html lang="zh-CN">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学生端</title>

    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="student.css">
</head>

<body>
    <!-- 网页头部 -->
    <div class="header">
        <a href="http://jw.scut.edu.cn/zhinan/cms/index.do">
            <div class="logo_left"><img src="logo_left.png" alt=""></div>
        </a>
        <div class="logo_right"><img src="logo_right.jpg" alt=""></div>
    </div>

    <div>`</div>
    <div class="w">
        <div class="left_content">
            <h1>学生端</h1>
            <form action="http://127.0.0.1:5000/studentResult" method="post">
                <br>您的学号：<br>
                <p id="studentNumber"></p>
                <br>
                <br>
                输入获得者学：
                <br>
                <input type="text" name="studentNumber" placeholder="请在此输入获得者学号">
                <!--label for="sid">请输入您的学号进行查询：</!--label> <br><br>
                <input type="text" name="studentResult" id="sid"><br><br-->
                <input type="submit" name="查询讲座票"> 
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                <input type="reset" value="重新填写">
            </form>
        </div>

        <div class="right_content">
            <h1>最新活动</h1>
            <ul>
                <li><a href="#">one</a></li>
                <li><a href="#">two</a></li>
                <li><a href="#">three</a></li>
                <li><a href="#">four</a></li>
                <li><a href="#">five</a></li>
                <li><a href="#">six</a></li>
                <li><a href="#">seven</a></li>
            </ul>
        </div>
        <script>
            var value1 = localStorage["studentNumber"];
            document.getElementById("studentNumber").innerHTML=value1;
        </script>

    </div>




    <!-- 网页底部 -->
    <div class="footer">
        <div class="img_left">
            <img src="footer_icon_logo.png" alt="">
        </div>
        <span class="line"></span>

        <div class="img_right">
            <img src="code_icon.jpg" alt="">
            <p>华工教务公众号</p>
        </div>
    </div>
    <div class="end">制作者：xxx</div>


</body>

</html>